#box-model{
    margin: 25px;
    padding: 15px 25px;
    border: 5px solid #845;
    outline: 5px solid #000000;
    border-radius: 15px;
    background-color: #00ffff;
}

.texto{
    background-color: #e97b14;
    color: #b40808;
    border: none;
}